@import "node_modules/bootstrap/less/bootstrap.less";
@grid-float-breakpoint: 0;

a {cursor: pointer;}

.head-title {
	color: #757575;
}

.body {
	height: 100vh;
	padding: 70px 0 20px;
}

.calendar {
	display: flex;
	height: 100%;
	border-left: 10px solid #dddddd;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	justify-content: flex-start;
}

.calendar > div {
	flex-basis: 14.285714%;
	color: #212121;
	border: 1px solid #e0e0e0;
	padding: 10px;
	min-height: 10%;
}

.calendar > div > span {
	display: inline-block;
	line-height: 24px;
}

.calendar > div > .day {
	width: 24px;
	text-align: center;
	border-radius: 50%;
}

.calendar .week-day {
	width: 25px;
	text-align: center;
	color: #757575;
	display: block;
}

.calendar > .today {
	background-color: #f5f5f5;
}

.calendar > .today > .day {
	background-color: #4285f4;
	color: #fff;
}

.calendar > .gray {
	color: #757575;
}

.calendar .events {
	margin: 0 -8px;
	font-size: 12px;
	padding: 10px 0;
}

.calendar .events > div {
	padding: 0 10px;
	line-height: 24px;
	cursor: pointer;
}

.calendar .events > .event-full {
	background-color: #039be5;
	border-radius: 2px;
	color: #fff;
}

.calendar .events > .event-time::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #039be5;
}

.dropdown-menu {
	max-width: 90vw;
}

.list-group-item-text {
	overflow: hidden;
}

@media (max-width: 767px) {
	.body {
		height: auto;
	}
	.calendar > div {
		flex-basis: 100%;
	}
	.navbar-form {
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-form .form-group {
		margin-bottom: 0;
	}
	.navbar-brand {
		padding-right: 0;
	}
}


